@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: #fbfbfb;
}

html{
    scroll-behavior: smooth;
}


#scroll-hide::-webkit-scrollbar {
  display: none;
}
#scroll-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}
